<!DOCTYPE html>

<html>
    <head>
        <title>Friends map</title>
    </head>
    <body>
        <h1>Enter required information</h1>
        <form action="/friends_map" method="post">
            <input name="bearer_token" placeholder="Bearer token" type='text'/>
            <input name="username" placeholder="Username" type='text'/>
            <input name="friends_number" placeholder="Friends number" type='text'/>
            <input type="submit" value="Make map"/>
        </form>
    </body>
</html>